<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesenSoft</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  
  <nav id="menu">
    <ul>
      <a><img style="float: left; margin-right: 25px; box-shadow: 3px 3px 3px;" src="DesenSoft.png" alt="icone de pesquisa" class="imgpesquisa"></a>
      <li><a href="#">Notícias</a></li>
      <li><a href="#">Recomendações</a></li>
      <li><a href="#">Quem somos</a></li>
      <a href="#"><img style="float: right; margin-right: 25px;" src="lupa.png" alt="icone de pesquisa" class="imgpesquisa"></a>
    </ul>
  </nav>


  <img src="cyber.jpg" alt="notícia importante" style="width: 1280px;margin: auto; margin-top: 30px; margin-bottom: 30px; display: block;"><br>

  <section class="corpo">

    <h1 id="Titulonoticias">Texto das Notícias</h1>

    <div class="data">
      <p>12/05/2021 10:40</p>
    </div>

    <div class="temas">
      <p>#deepweb #cartaodecredito #clonagemdecartao #jovem #hacker</p>
    </div>

    <div class="txt">
      <p>
        Aqui é onde vai ficar as Notícias.
      </p>
      <p>
        Jovem é preso após ser pego utilizando a deep web. De acordo com o jovem, ele entrava na deep wep para vender cartões clonados.
        Além disso, o jovem disse que fazia essa prática ilegal apenas para comprar diamantes no free fire.
      </p>
      <p>
        Além disso, o jovem disse que não tem nenhum arrependimento do que fez, pois ele ficará no máximo 1 dia cadeia.
      </p>
    </div>

  </section>
  

  <a href="#" id="filtrapesq"><img src="filtrarpng.png" alt="notícia importante"></a>



</body>
<footer  class="rodape">
  <p><img style="box-shadow: 5px 5px 5px;" src="DesenSoft.png" alt=""></p>
  <li class="lirod">© Copyright 2020-2022 Vermelho Rosas Comunicações e Participações S.A.</li>
    <li class="lirod" style="margin-left: 420px;"><a href="#" style="text-decoration: none;">princípios editoriais</a> | <a href="#" style="text-decoration: none;">política de privacidade</a> | <a href="#" style="text-decoration: none;">anuncie conosco</a></li>
</footer>
</html>