<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesenSoft</title>
    <link rel="stylesheet" href="css/style-qs.css">
    <link rel="shortcut icon" type="imagex/png" href="../views/imagens/encrypted.ico">
</head>
<body>

  
<nav id="menu">
  <ul>
    <a><img style="float: left; margin-right: 25px; box-shadow: 3px 3px 3px;" src="../views/imagens/DesenSoft.png" alt="icone de pesquisa" class="imgpesquisa"></a>
		<li><a href="index.html">Notícias</a></li>
		<li><a href="index-re.html">Recomendações</a></li>
		<li><a href="#">Quem somos</a></li>
	</ul>
</nav>


<div class="img-principal" style="margin-left: auto; margin-right: auto; width:max-content; text-align: center;">
    <img src="../views/imagens/logogrande.png" alt="notícia importante" style="width: 500px;"><br>
    <p style="font-size: 15px; font-family: 'Libre Baskerville';" href="#">Densenvolvimento de Software</p>
    <p style="font-size: 15px; font-family: 'Libre Baskerville';" href="#">Engenharia de Software - Universidade de Brasília</p>


</div>

<div id="container">
  
  <div class="item1" style="text-align: center;">
      
      <p class="nottema" style="mix-blend-mode: normal;" >Alunos que buscam aprender cada vez mais</p>
      <p style="font-size: 18px; text-align: justify;">Somos um grupo de alunos da Universidade de Brasília, estudantes de Engenharia de Software,  que estão realizando a matéria Desenvolvimento de Software com a supervisão do professor Sergio Antonio Andrade de Freitas </p>

  </div>

  <div class="item1">
    <img src="../views/imagens/unblogo.png" alt="" style="height: 250px;">  
  </div>
  
</div>

<div id="container2">

  <div class="item2">
    <img src="/views/imagens/unbcii.jpeg" alt="" style="height: 300px;",>
  </div>

  <div class="item2" style="text-align: center;">

      <p class="nottema" style="mix-blend-mode: normal;">Nossos Objetivos</p>
      <p style="font-size: 18px; text-align: justify;">Estamos iniciando nossos estudos na área da tecnologia e buscamos aprender cada vez mais, sempre crescendo e se desenvolvendo profissionalmente e pessoalmente </p>

  </div>
</div>

<p id="Titulonoticias">Quem somos</p>

<div id="container">
  
  <div class="item1"style="text-align: center;" ><img src="/views/imagens/sabrina.jpeg" alt="" style="height: 300px;">
      
      <p class="nottema" style="text-align: center;">Sabrina Caldas Berno</p>
      
      <div class="icones" style=" display: flex; flex-wrap: wrap; "> 
        <p style="margin: 40px; width: 10%;"> <a href="https://www.linkedin.com/in/sabrina-caldas-berno/" target="_blanck"> <img src="/views/imagens/linkedin.png" alt="" style="width: 50px; height: 47px;"> </a></p>
        <p style="margin: 40px; width: 10%;"> <a href="https://github.com/sabrinaberno" target="_blanck"><img src="/views/imagens/github.png" alt="" style="width: 50px; height: 47px;"> </a> </p> 
      </div> 
      
    </div>

  <div class="item1" style="text-align: center;" ><img src="/views/imagens/flavio.jpeg" alt="" style="height: 300px;">
      
    <p class="nottema">Flávio Gustavo Araújo de Melo</p>
    
    <div class="icones" style=" display: flex; flex-wrap: wrap; "> 
      <p style="margin: 40px;width: 10%;"> <a href="https://www.linkedin.com/in/fl%C3%A1vio-melo-28b846224/" target="_blanck"> <img src="/views/imagens/linkedin.png" alt="" style="width: 50px; height: 47px;"></a> </p>
      <p style="margin: 40px;width: 10%;"><a href="https://github.com/flavioovatsug" target="_blanck"><img src="/views/imagens/github.png" alt="" style="width: 50px; height: 47px;"> </a> </p> 
    </div>
  
  </div>
  
</div>

<div id="container2">

  <div class="item2" style="text-align: center;"><img src="/views/imagens/gustavo.jpeg" alt="" style="height: 300px;",>
    
    <p class="nottema" style="text-align: center;" >Gustavo Franca Boa Sorte</p>
    
    <div class="icones" style=" display: flex; flex-wrap: wrap; "> 
      <p style="margin: 40px;width: 10%;"> <a href="https://www.linkedin.com/in/gustavo-fran%C3%A7a-a30417233/" target="_blanck"> <img src="/views/imagens/linkedin.png" alt="" style="width: 50px; height: 47px;"> </a></p>
      <p style="margin: 40px;width: 10%;"> <a href="https://github.com/GustavoFBS" target="_blanck"><img  src="/views/imagens/github.png" alt="" style="width: 50px; height: 47px;"> </a></p> 
    </div>

</div>

  <div class="item2" style="text-align: center;" ><img src="/views/imagens/davi.jpeg" alt="" style="height: 300px;">
    <p class="nottema">Davi Alves Bezerra</p>
    
    <div class="icones" style=" display: flex; flex-wrap: wrap; "> 
      <p style="margin: 40px;width: 10%;"> <a href="https://www.linkedin.com/in/davi-alves/" target="_blanck"> <img src="/views/imagens/linkedin.png" alt="" style="width: 50px; height: 47px;"></a> </p>
      <p style="margin: 40px;width: 10%;"> <a href="https://github.com/davialvb"  target="_blank">  <img src="/views/imagens/github.png" alt="" style="width: 50px; height: 47px;"> </a></p> 
    </div>

  </div>

<div id="container">
  
  <div class="item1" style="text-align: center;"><img src="/views/imagens/leandro.jpeg" alt="" style="height: 300px; ">
      
      <p class="nottema">Leandro de Almeida Oliveira</p>
      
      <div class="icones" style=" display: flex; flex-wrap: wrap; "> 
        <p style="margin: 40px;width: 10%;"> <a href="https://www.linkedin.com/in/leandro-de-almeida-4777a618a/" target="_blanck"> <img src="/views/imagens/linkedin.png" alt="" style="width: 50px; height: 47px;"> </a></p>
        <p style="margin: 40px;width: 10%;"> <a href="https://github.com/leomitx10" target="_blanck"> <img src="/views/imagens/github.png" alt="" style="width: 50px; height: 47px;"> </a> </p> 
      </div>
  
  </div>

  <div class="item1" style="text-align: center;"><img src="/views/imagens/guilherme.jpeg" alt="" style="height: 300px;">
      
    <p class="nottema">Guilherme Coelho Mendonça</p>
    
    <div class="icones" style=" display: flex; flex-wrap: wrap; "> 
      <p style="margin: 40px;width: 10%;"> <a href="https://www.linkedin.com/in/guilherme-coelho-4005b7236/" target="_blanck"> <img src="/views/imagens/linkedin.png" alt="" style="width: 50px; height: 47px;"> </a></p>
      <p style="margin: 40px;width: 10%;"><a href="https://github.com/Guilermanoo" target="_blanck"><img src="/views/imagens/github.png" alt="" style="width: 50px; height: 47px;"> </a> </p> 
    </div>
  
</div>



</body>
<footer  class="rodape">
  <p><img style="box-shadow: 5px 5px 5px;" src="DesenSoft.png" alt=""></p>
  <li class="lirod">© Copyright 2020-2022 Vermelho Rosas Comunicações e Participações S.A.</li>
    <li class="lirod" style="margin-left: 420px;"><a href="#" style="text-decoration: none;">princípios editoriais</a> | <a href="#" style="text-decoration: none;">política de privacidade</a> | <a href="#" style="text-decoration: none;">anuncie conosco</a></li>
</footer>
</html>