<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesenSoft</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  
<nav id="menu">
  <ul>
    <a><img style="float: left; margin-right: 25px; box-shadow: 3px 3px 3px;" src="imagens/DesenSoft.png" alt="icone de pesquisa" class="imgpesquisa"></a>
		<li><a href="#">Notícias</a></li>
		<li><a href="#">Recomendações</a></li>
		<li><a href="#">Quem somos</a></li>
	</ul>
</nav>

<div style="text-align: center;">
<img src="imagens/carrobrabo.png" alt="notícia importante" style="text-align: center;"><br>
</div>

<p id="Titulonoticias">Notícias</p>

<div id="container">
  
  <div class="item1"><img src="imagens/seguro-cibernetico.png" alt="">
      
      <p class="nottema"><a style="text-decoration: none;" href="#">Malware ataca servidores do Google</a></p>
      <p style="font-size: 18px;">kshdjkas sdijdassad kaskdjaskjasd ksadjasdkjasd ksadjaskd asdkasjdkasd kasdjsakdjsda kasdjsdkjdas kasdjasdkdjas dshjkasdhkasjd</p>
      <p id="Autor">Leandro</p>
      <p id="Data">25/10/2022</p>

  </div>

  <div class="item1"><img src="imagens/seguro-cibernetico.png" alt="">
      
      <p class="nottema"><a style="text-decoration: none;" href="#">Malware ataca servidores do Google</a></p>
      <p style="font-size: 18px;">CEO do google disse: Perdi tudo CEO do google disse: Perdi tudo CEO do google disse: Perdi tudo djhasdjkasdhjkasd7 dsjsdajdasjasd kjhdjkdhjkasd dsjdaskasd asdkjdasjksda</p>
      <p id="Autor">Leandro</p>
      <p id="Data">25/10/2022</p>
  </div>
  
</div>

<div id="container2">

  <div class="item2"><img src="imagens/seguro-cibernetico.png" alt="">
      <p class="nottema"><a  style="text-decoration: none;" href="#">Malware ataca servidores do Google</a></p>
      <p style="font-size: 18px;">CEO do google disse: Perdi tudo adjshasdjsd daskjdhaskasdh sadkjsdakhasd skadjskadjasdk adsjshadjkasdh asdhgjhsad jasdhasdjhsda askjhasdjk</p>
      <p id="Autor">Leandro</p>
      <p id="Data">25/10/2022</p>
  </div>

  <div class="item2"><img src="imagens/seguro-cibernetico.png" alt="">
      <p class="nottema"><a  style="text-decoration: none;" href="#">Malware ataca servidores do Google</a></p>
      <p style="font-size: 18px;">CEO do google disse: Perdi tudo sadjhasdjhasd sadjkhasdjkhsdjkasd sadjkasdhjkasdhjkasd asdkasdkjasdhjkasd asjhjkasddsasadhjdas sadjhasdjhasd adshjgsdajhgasd asdjhasdgjhasdgasd asjdasdjhsgad sdajhasdgjhasd</p>
      <p id="Autor">Leandro</p>
      <p id="Data">25/10/2022</p>
  </div>
</div>

</body>
<footer  class="rodape">
  <p><img style="box-shadow: 5px 5px 5px;" src="imagens/DesenSoft.png" alt=""></p>
  <li class="lirod">© Copyright 2020-2022 Vermelho Rosas Comunicações e Participações S.A.</li>
    <li class="lirod" style="margin-left: 420px;"><a href="#" style="text-decoration: none;">princípios editoriais</a> | <a href="#" style="text-decoration: none;">política de privacidade</a> | <a href="#" style="text-decoration: none;">anuncie conosco</a></li>
</footer>
</html>