{% extends 'blog/base.html' %}


{% block content %}

<div class="carrossel">
  <div class="slider">
    <div class="slides">
      <!--radio buttons start-->
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">
      <!--radio buttons end-->
      <!--slide images start-->
      <div class="slide first">
        <img src="../static/home/otan.png" alt="">
      </div>
      <div class="slide">
        <img src="../static/home/microsoft.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../static/home/brasil.png" alt="">
      </div>
      <div class="slide">
        <img src="../static/home/euro.png" alt="">
      </div>
      <!--slide images end-->
      <!--automatic navigation start-->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
      <!--automatic navigation end-->
    </div>
    <!--manual navigation start-->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
    <!--manual navigation end-->
  </div>
  <!--image slider end-->
 </div>


 <script type="text/javascript">
  var counter = 1;
  setInterval(function(){
    document.getElementById('radio' + counter).checked = true;
    counter++;
    if(counter > 4){
      counter = 1;
    }
  }, 5000);
  </script>







    
    <hr>
    <h1 class="not">Notícias</h1>
    <hr>

    {% for post in posts %}

    <div id="container">
  
        <div style="text-align: center;" class="item1"><img style="height: 300px; width: 450px;" src="{{post.image.url}}" alt="">
            
            <p class="nottema"><a style="text-decoration: none;" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></p>
            <p style="font-size: 18px;">{{ post.intro }}</p>
            <p id="Autor">{{ post.autor }}</p>
            <p id="Data">{{ post.date_added }}</p>
      
        </div>
        
      </div>

    {% endfor %}


<style>

.not{
    text-align: center;
    margin-top: 18px;
    margin-bottom: 25px;
    font-size: 55px; 
    font-family: Libre Baskerville; 
    text-decoration: underline;
}

.imghome{
    text-align: center;
}


p{
  font-size: 1.15rem;
  text-align: justify;
  line-height: 30px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 8px;
}

.item1{
  margin: 40px;
  width: 50%;
}



.nottema{
  font-size: 25px;
  margin-top: 25px;
  text-align: center;
  
  
}


#Autor,#Data{
  color: #615d5d;
  line-height: 10px;

}

.carrossel{

display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;

}

.slider{
width: 881px; 
height: 495px;
border-radius: 10px;
overflow: hidden;
}

.slides{
width: 500%;
height: 495px;
display: flex;
}

.slides input{
display: none;
}

.slide{
width: 20%;
transition: 2s;
}

.slide img{
width: 881px;
height: 495px;
}

/*css for manual slide navigation*/

.navigation-manual{
position: absolute;
width: 881px;
margin-top: -35px;
display: flex;
justify-content: center;
}

.manual-btn{
border: 2px solid #40D3DC;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
background: #282d32;
}

#radio1:checked ~ .first{
margin-left: 0;
}

#radio2:checked ~ .first{
margin-left: -20%;
}

#radio3:checked ~ .first{
margin-left: -40%;
}

#radio4:checked ~ .first{
margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
position: absolute;
display: flex;
width: 881px;
justify-content: center;
margin-top: 460px;
}

.navigation-auto div{
border: 2px solid #282d32;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
background: #282d32;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
background: #282d32;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
background: #282d32;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
background: #282d32;
}


</style>


{% endblock %}

